/segment_anything

/outputs
/output

/checkpoints

__pycache__
.vscode
220_epoch_299.pth
LICENSE
testset/test_vol_h5
lists/*

*.egg-info
/sam2-main/.github
*.pth
*.pt

*.jpg
*.png
mask.npy
raw.npy
/test_outputs

/*.ipynb

/data

/python*

/uv*

*.tar.gz